.card {
  text-align: center;
  background-color: var(--tertiary-color);
  border-radius: 10px;
  border: 1px;
  cursor: pointer;
  max-width: 400px;
  height: 100%;
}

.card img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-top: 1rem;
  border: 1px solid;
}

.card .card-content-container {
  background-color: var(--tertiary-color);
  padding: 1rem;
  border-radius: 10px;
}

.card .card-content-container h2 {
  border-bottom: 2px solid;
  padding: 1rem;
}

.card .card-content-container p {
  margin-top: 1rem;
  text-align: justify;
}

.one {
  grid-column: span 2;
}

.technologies-container * {
  display: inline-block;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  border-radius: 12px;
}

@media (max-width: 786px) {
  .card {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .card {
    transition: 0.2s;
  }

  .card:hover {
    transform: translateY(-10px);
  }
}
