#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footer .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#footer .icons a {
  margin: 1.5rem 0.5rem 1rem 0.5rem;
  transition: 0.2s;
}

#footer p {
  margin-bottom: 1rem;
  word-spacing: -5px;
  text-align: center;
}

#footer .up {
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: 0.2s;
}

@media (min-width: 768px) {
  #footer .icons a:hover {
    transform: scale(1.2);
  }

  #footer .up:hover {
    transform: translateY(-5px);
  }
}
