#projects {
  background-color: var(--secondary-color);
  width: 100%;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

#projects .cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-auto-rows: 1fr;
  gap: 1rem;
}

@media (max-width: 768px) {
  #projects .cards-container {
    grid-template-columns: 1fr;
  }
}
