#projects {
  background-color: var(--secondary-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

#projects .cards-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 1024px) {
  #projects .cards-container {
    flex-direction: row;
  }
}
